@keyframes pulse {
	0% {
		opacity: 0%;
	}

	70% {
		opacity: 100%;
	}

	100% {
		opacity: 0%;
  }
}

@keyframes figimgmoving {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(15vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes imgxanimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}

@keyframes circleappearing1 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes circleappearing2 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes circleappearing3 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes circleappearing4 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes blocksappearing1 {
  0% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes blocksappearing2 {
  0% {
    transform: translateX(-9vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes blocksappearing3 {
  0% {
    transform: translateX(-8vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes blocksappearing4 {
  0% {
    transform: translateX(-7vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes blocksappearing5 {
  0% {
    transform: translateX(-6vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes blocksappearing6 {
  0% {
    transform: translateX(-5vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes blocksappearing7 {
  0% {
    transform: translateX(-4vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes blocksappearing8 {
  0% {
    transform: translateX(-3vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes blocksappearing9 {
  0% {
    transform: translateX(-2vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes blocksappearing10 {
  0% {
    transform: translateX(-1vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes trafficlightanimation1 {
  50% {
    border-color: #FFEC51;
  }
}

@keyframes verticallineanim1 {
  50% {
    background-color: #FFEC51;
  }
}

@keyframes verticallineanim2 {
  50% {
    background-color: #FFCCD6;
  }
}

@keyframes verticallineanim3 {
  50% {
    background-color: #21B8EB;
  }
}

@keyframes verticallineanim4 {
  50% {
    background-color: #F3A2BC;
  }
}

@keyframes verticallineanim5 {
  50% {
    background-color: #FFFFFF;
  }
}

@keyframes verticallineanim6 {
  50% {
    background-color: #FFCCD6;
  }
}

@keyframes verticallineanim7 {
  50% {
    background-color: #21B8EB;
  }
}

@keyframes verticallineanim8 {
  50% {
    background-color: #21B8EB;
  }
}

@keyframes verticallineanim9 {
  50% {
    background-color: #FFEC51;
  }
}

@keyframes verticallineanim10 {
  50% {
    background-color: #FFCCD6;
  }
}

@keyframes figimgmoving1 {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(35vw);
    width: 10vw;
  }
  100% {
    transform: translateY(0vw);
  }
}

@keyframes yellowlineanim {
  0% {
    width: 0vw;
  }
  50% {
    width: 50.714vw;
  }
  100% {
    width: 0vw;
  }
}

@keyframes longlineanim {
  0% {
    width: 31.429vw;
  }
  50% {
    width: 0vw;
  }
  100% {
    width: 31.429vw;
  }
}

@keyframes trafficlightanim{
  50% {
    background-color: #F3A2BC;
  }
}

@keyframes headingtextanim {
  0% {
    color: #FFFFFF;
  }
  25% {
    color: #FFCCD6;
  }
  50% {
    color: #FFEC51;
  }
  75% {
    color: #21B8EB;
  }
  100% {
    color: #F3A2BC;
  }
}

@keyframes lllanim1 {
  0% {
    background-color: #FFFFFF;
  }
  25% {
    background-color: #FFCCD6;
  }
  50% {
    background-color: #FFEC51;
  }
  75% {
    background-color: #21B8EB;
  }
  100% {
    background-color: #F3A2BC;
  }
}

@keyframes lllanim2 {
  0% {
    background-color: #FFFFFF;
  }
  25% {
    background-color: #21B8EB ;
  }
  50% {
    background-color:  #FFCCD6;
  }
  75% {
    background-color: #FFEC51;
  }
  100% {
    background-color: #F3A2BC;
  }
}

@keyframes lllanim3 {
  0% {
    background-color: #FFFFFF;
  }
  25% {
    background-color: #F3A2BC;
  }
  50% {
    background-color:   #FFEC51;
  }
  75% {
    background-color: #FFCCD6;
  }
  100% {
    background-color: #21B8EB ;
  }
}

@keyframes circlesanim1 {

  25% {
    background-color: #F3A2BC;
  }
  50% {
    background-color:    #FFFFFF;
  }
  75% {
    background-color: #FFCCD6;
  }
  100% {
    background-color: #21B8EB ;
  }
}

@keyframes circlesanim2 {

  25% {
    background-color: #FFFFFF ;
  }
  50% {
    background-color: #FFCCD6 ;
  }
  75% {
    background-color: #F3A2BC;
  }
  100% {
    background-color: #FFEC51 ;
  }
}

@keyframes circlesanim3 {

  25% {
    background-color: #FFEC51;
  }
  50% {
    background-color: #21B8EB  ;
  }
  75% {
    background-color: #F3A2BC;
  }
  100% {
    background-color: #FFFFFF;
  }
}

@keyframes wheelimganim {

  0% {
    transform: translateX(-30vw);
  }
  50% {
    transform: translateX(0vw);
  }
}
