/* @media only screen and (min-width: 1224px) {

}

@media all
and (min-device-width: 768px)
and (max-device-width: 1680px)
and (orientation: portrait) {


}

 }

@media all
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
	body {min-device-width: 768px
	width: 100%;}

 }


@media all
and (min-width: 768px)
and (max-device-width: 1024px) {

}

@media all
and (max-width: 1020px) {

 }

@media all
and (min-device-width: 320px)
and (max-device-width: 1024px) {

}

@media all
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {

}



@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait)
{

} */

/* iPhone Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: portrait) {

.upperline4 {
	/* position: absolute;
	width: 20.048vw;
	height: 0.725vw;
	left: 48.309vw;
	top: 35.990vw;
	background-color: white;
	transform: rotate(-90deg) */
}



}
