@import "reset.css";
@import "fonts.css";
@import "responsive.css";


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  font-family: 'AkzidenzGroteskPro';
  margin: 0 auto;
  background: black;
  width: 100vw;
  height: auto;
  /* overflow: hidden; */
}



/* html {
  background: #F5F5F5;
  height: 2697px;
  position: relative;
  scroll-behavior: smooth;
} */

.container{
  margin: 0 auto;
}

.backgroundcircles {
  position: absolute;
}



.backgroundcircle1 {
  z-index: -2;
  position: absolute;
  width: 55.143vw;
  height: 55.143vw;
  left: 5.643vw;
  top: 5.500vw;
  background: radial-gradient(50% 50% at 50% 50%, rgba(243, 162, 188, 0.4) 13.02%, rgba(243, 162, 188, 0) 100%);
  animation: pulse 2s infinite;
}

.backgroundcircle2 {
  z-index: -2;
  position: absolute;
  width: 29.571vw;
  height: 29.571vw;
  left: 35vw;
  top: 54.643vw;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.4) 13.02%, rgba(255, 255, 255, 0) 100%);
  animation: pulse 2s infinite;
}

.backgroundcircle3 {
  z-index: -2;
  position: absolute;
  width: 29.571vw;
  height: 29.571vw;
  left: 1.500vw;
  top: 92.571vw;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.4) 13.02%, rgba(255, 255, 255, 0) 100%);
  animation: pulse 2s infinite;
}

.backgroundcircle4 {
  z-index: -2;
  position: absolute;
  width: 29.571vw;
  height: 29.571vw;
  left: 67.643vw;
  top: 140.643vw;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.4) 13.02%, rgba(255, 255, 255, 0) 100%);
  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		opacity: 0%;
	}

	70% {
		opacity: 100%;
	}

	100% {
		opacity: 0%;
  }
}


.backgroundgrain{
  position: absolute;
  width: 102.857vw;
  height: 192.643vw;
  overflow: hidden;
  z-index: -1;
}


/* .upperblocks {
  display: block;
  margin-right: 0px;
  margin-top: 0px;
} */


.linesblock1 {
  position: absolute;
  width: 8.5vw;
  height: 0.8vw;
  right: 0vw;
  top: 6.500vw;
  background: #FFFFFF;
}

.linesblock2 {
  position: absolute;
  width: 8.5vw;
  height: 0.8vw;
  right: 0vw;
  top: 9.214vw;
  background: #FFFFFF;
}

.linesblock3 {
  position: absolute;
  width: 8.5vw;
  height: 0.8vw;
  right: 0vw;
  top: 11.929vw;
  background: #FFFFFF;
}

.linesblock4 {
  position: absolute;
  width: 12.500vw;
  height: 0.143vw;
  right: 0vw;
  top: 7.8vw;
  background: white;
}

.dashedline1 {
  position: absolute;
  width: 2.143vw;
  height: 0.143vw;
  right: 13vw;
  top: 7.8vw;
  background: white;
}

.dashedline11 {
  position: absolute;
  width: 2.143vw;
  height: 0.143vw;
  right: 16vw;
  top: 7.8vw;
  background: white;
}

.dashedline12 {
  position: absolute;
  width: 2.143vw;
  height: 0.143vw;
  right: 19vw;
  top: 7.8vw;
  background: white;
}

.upperline1 {
  position: absolute;
  width: 75vw;
  height: 0.214vw;
  right: 0vw;
  top: 15vw;
  background: white;
}

.upperline2 {
  position: absolute;
  width: 43.429vw;
  height: 0.071vw;
  right: 0;
  top: 17vw;
  background: white;
}

.upperline3 {
  position: absolute;
  width: 35vw;
  height: 0.071vw;
  left: 32vw;
  top: 0vw;
  background: white;
  transform: rotate(-90deg);
}

.upperline4 {
  position: absolute;
  width: 13.571vw;
  height: 0.286vw;
  left: 52.3vw;
  top: 20vw;
  background: white;
  transform: rotate(-90deg);
}

.figimg {
  position: absolute;
  width: 7vw;
  height: 7vw;
  left: 25vw;
  top: 9.8vw;

}

.circle1 {
  position: absolute;
  width: 1.071vw;
  height: 1.071vw;
  border-radius: 50%;
  left: 7.286vw;
  top: 16.643vw;
  background: #FFCCD6;
}


.circle2 {
  position: absolute;
  width: 1.071vw;
  height: 1.071vw;
  left: 9.429vw;
  top: 16.643vw;
  border-radius: 50%;
  background: #FFEC51;
}

.circle3 {
  position: absolute;
  width: 1.071vw;
  height: 1.071vw;
  left: 7.286vw;
  top: 18.643vw;
  border-radius: 50%;
  background: #21B8EB;
}

.circle4 {
  position: absolute;
  width: 1.071vw;
  height: 1.071vw;
  left: 9.429vw;
  top: 18.643vw;
  border-radius: 50%;
  background: #F3A2BC;
}


.netext{
  position: absolute;
  left: 58.5vw;
  top: 3vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 10vw;
  display: flex;
  align-items: center;
  color: #FFFFFF;

}

.netext1 {
  position: absolute;
  width: 10.929vw;
  height: 5.714vw;
  left: 69.8vw;
  top: 6.2vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 400;
  font-stretch: condensed;
  font-size: 2.500vw;
  color: #FFEC51;
}

.netext2 {
  position: absolute;
  width: 10.929vw;
  height: 5.714vwpx;
  left: 69.8vw;
  top: 9vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 400;
  font-stretch: condensed;
  font-size: 2.500vw;
  color: #FFFFFF;
}


.headingtext {
  position: absolute;
  left: 5.8vw;
  top: 22vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: bold;
  font-stretch: expanded;
  font-size: 10.714vw;
  color: #FFFFFF;
}

.headingtext1 {
  position: absolute;
  width: 16.786vw;
  height: 8.357vw;
  left: 55.9vw;
  top: 33.8vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 400;
  font-stretch: expanded;
  font-size: 2.143vw;
  line-height: 2.714vw;
  color: #FFFFFF;
}

.blueimg {
  position: absolute;
  left: -2vw;
  top: 0vw;
  width: 47.571vw;
  height: 27.857vw;
}

.yellowimg {
  position: absolute;
  width: 28.571vw;
  height: 28.571vw;
  left: 75vw;
  top: 24vw;
}

.yellowimgx {
  position: absolute;
  width: 1.9vw;
  height: 1.9vw;
  left: 38vw;
  top: 5.834vw;
}

/* .lines10block {
  width: 243px;
  height: 12px;
} */

.lines10block1 {
  position: absolute;
  left: 6.5vw;
  top: 49.5vw;
  width: 17.357vw;
  height: 0.857vw;
  background: white;
}

.lines10block2 {
  position: absolute;
  left: 6.5vw;
  top: 52.5vw;
  width: 17.357vw;
  height: 0.857vw;
  background: white;
}

.lines10block3 {
  position: absolute;
  left: 6.5vw;
  top: 55.5vw;
  width: 17.357vw;
  height: 0.857vw;
  background: white;
}

.lines10block4 {
  position: absolute;
  left: 6.5vw;
  top: 58.5vw;
  width: 17.357vw;
  height: 0.857vw;
  background: #FFEC51;
}

.lines10block5 {
  position: absolute;
  left: 6.5vw;
  top: 61.5vw;
  width: 17.357vw;
  height: 0.857vw;
  background: white;
}

.lines10block6 {
  position: absolute;
  left: 6.5vw;
  top: 64.5vw;
  width: 17.357vw;
  height: 0.857vw;
  background: white;
}

.lines10block7 {
  position: absolute;
  left: 6.5vw;
  top: 67.5vw;
  width: 17.357vw;
  height: 0.857vw;
  background: #F3A2BC;
}

.lines10block8 {
  position: absolute;
  left: 6.5vw;
  top: 70.5vw;
  width: 17.357vw;
  height: 0.857vw;
  background: white;
}

.lines10block9 {
  position: absolute;
  left: 6.5vw;
  top: 73.5vw;
  width: 17.357vw;
  height: 0.857vw;
  background: #21B8EB;
}

.lines10block10 {
  position: absolute;
  left: 6.5vw;
  top: 76.5vw;
  width: 17.357vw;
  height: 0.857vw;
  background: white;
}

.lineline1 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 26.071vw;
  top: 51vw;
  background: #FFFFFF;
}

.lineline2 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 31vw;
  top: 51vw;
  background: #FFFFFF;
}

.lineline3 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 35.929vw;
  top: 51vw;
  background: #FFFFFF;
}

.lineline4 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 40.857vw;
  top: 51vw;
  background: #FFFFFF;
}

.lineline5 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 45.786vw;
  top: 51vw;
  background: #FFFFFF;
}

.lineline6 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 50.714vw;
  top: 51vw;
  background: #FFFFFF;
}

.lineline7 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 55.643vw;
  top: 51vw;
  background: #FFFFFF;
}

.lineline8 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 60.571vw;
  top: 51vw;
  background: #FFFFFF;
}

.lineline9 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 26.071vw;
  top: 54vw;
  background: #FFFFFF;
}

.lineline10 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 31vw;
  top: 54vw;
  background: #FFFFFF;
}

.lineline111 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 35.929vw;
  top: 54vw;

  background: #FFFFFF;
}

.lineline122 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 40.857vw;
  top: 54vw;
  background: #FFFFFF;
}

.whiteimgx {
  position: absolute;
  width: 1.491vw;
  height: 1.491vw;
  left: 27.571vw;
  top: 58.476vw;
}

.roadline1 {
  position: absolute;
  width: 1.071vw;
  height: 3.286vw;
  left: 52.143vw;
  top: 57.071vw;
  background: #FFFFFF;
}

.roadline2 {
  position: absolute;
  width: 1.071vw;
  height: 3.286vw;
  left: 54.286vw;
  top: 57.071vw;
  background: #FFFFFF;
}

.roadline3 {
  position: absolute;
  width: 1.071vw;
  height: 3.286vw;
  left: 56.429vw;
  top: 57.071vw;
  background: #FFFFFF;
}

.roadline4 {
  position: absolute;
  width: 1.071vw;
  height: 3.286vw;
  left: 58.571vw;
  top: 57.071vw;
  background: #FFFFFF;
}

.roadline5 {
  position: absolute;
  width: 1.071vw;
  height: 3.286vw;
  left: 60.714vw;
  top: 57.071vw;
  background: #FFFFFF;
}

.roadline6 {
  position: absolute;
  width: 1.071vw;
  height: 3.286vw;
  left: 62.857vw;
  top: 57.071vw;
  background: #FFFFFF;
}

.roadline7 {
  position: absolute;
  width: 1.071vw;
  height: 3.286vw;
  left: 65vw;
  top: 57.071vw;
  background: #FFFFFF;
}

.roadline8 {
  position: absolute;
  width: 1.071vw;
  height: 3.286vw;
  left: 67.143vw;
  top: 57.071vw;
  background: #FFFFFF;
}

.roadline9 {
  position: absolute;
  width: 1.071vw;
  height: 3.286vw;
  left: 69.286vw;
  top: 57.071vw;
  background: #FFFFFF;
}

.longline1 {
  position: absolute;
  width: 31.429vw;
  height: 1.143vw;
  left: 71.429vw;
  top: 57.071vw;
  background: #FFFFFF;
}

.longline2 {
  position: absolute;
  width: 31.429vw;
  height: 1.143vw;
  left: 71.429vw;
  top: 59.214vw;
  background: #FFFFFF;
}

.eventtext1 {
  position: absolute;
  width: 19.500vw;
  height: 2.857vw;
  left: 41.214vw;
  top: 64.643vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 700;
	font-stretch: expanded;;
  font-size: 5.714vw;

  color: #FFEC51;
}

.eventtext2 {
  position: absolute;
  width: 26.714vw;
  height: 2.857vw;
  left: 54.857vw;
  top: 73.786vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 700;
	font-stretch: expanded;;
  font-size: 2.857vw;

  color: #FFFFFF;
}

.arrowimg {
  position: absolute;
  width: 9.929vw;
  left: 42vw;
  top: 73.5vw;
  box-sizing: border-box;
}

.figimg1 {
  position: absolute;
  width: 17.857vw;
  height: 17.857vw;
  left: 35.714vw;
  top: 77vw;
}

.verticalline1 {
  position: absolute;
  width: 8.643vw;
  height: 1.139vw;
  left: 53.5vw;
  top: 84.286vw;
  background: #FFFFFF;
  transform: rotate(-90deg);
}

.verticalline2 {
  position: absolute;
  width: 8.643vw;
  height: 1.139vw;
  left: 56.5vw;
  top: 84.286vw;
  background: #FFFFFF;
  transform: rotate(-90deg);
}

.verticalline3 {
  position: absolute;
  width: 8.643vw;
  height: 1.139vw;
  left: 59.5vw;
  top: 84.286vw;
  background: #FFFFFF;
  transform: rotate(-90deg);
}

.verticalline4 {
  position: absolute;
  width: 8.643vw;
  height: 1.139vw;
  left: 62.5vw;
  top: 84.286vw;
  background: #FFFFFF;
  transform: rotate(-90deg);
}

.verticalline5 {
  position: absolute;
  width: 8.643vw;
  height: 1.139vw;
  left: 65.5vw;
  top: 84.286vw;
  background: #FFEC51;
  transform: rotate(-90deg);
}

.verticalline6 {
  position: absolute;
  width: 8.643vw;
  height: 1.139vw;
  left: 68.5vw;
  top: 84.286vw;
  background: #FFFFFF;
  transform: rotate(-90deg);
}

.verticalline7 {
  position: absolute;
  width: 8.643vw;
  height: 1.139vw;
  left: 71.5vw;
  top: 84.286vw;
  background: #FFFFFF;
  transform: rotate(-90deg);
}

.verticalline8 {
  position: absolute;
  width: 8.643vw;
  height: 1.139vw;
  left: 74.5vw;
  top: 84.286vw;
  background: #F3A2BC;
  transform: rotate(-90deg);
}

.verticalline9 {
  position: absolute;
  width: 8.643vw;
  height: 1.139vw;
  left: 77.5vw;
  top: 84.286vw;
  background: #21B8EB;
  transform: rotate(-90deg);
}

.verticalline10 {
  position: absolute;
  width: 8.643vw;
  height: 1.139vw;
  left: 80.5vw;
  top: 84.286vw;
  background: #FFFFFF;
  transform: rotate(-90deg);
}

.yellowline {
  position: absolute;
  width: 50.714vw;
  height: 1.429vw;
  left: 34.714vw;
  top: 92.143vw;
  background: #FFEC51;
}

.ln1 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 47.571vw;
  top: 95.786vw;
  background: #FFFFFF;
}

.ln2 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 52.500vw;
  top: 95.786vw;
  background: #FFFFFF;
}

.ln3 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 57.429vw;
  top: 95.786vw;
  background: #FFFFFF;
}

.ln4 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 62.357vw;
  top: 95.786vw;
  background: #FFFFFF;
}

.ln5 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 67.286vw;
  top: 95.786vw;
  background: #FFFFFF;
}

.ln6 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 72.214vw;
  top: 95.786vw;
  background: #FFFFFF;
}

.ln7 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 77.143vw;
  top: 95.786vw;
  background: #FFFFFF;
}

.ln8 {
  position: absolute;
  width: 3.357vw;
  height: 0.286vw;
  left: 82.071vw;
  top: 95.786vw;
  background: #FFFFFF;
}

.whiteline1 {
  position: absolute;
  width: 86.929vw;
  height: 0.714vw;
  left: 15.929vw;
  top: 98.571vw;
  background: #FFFFFF;
}

.whl1 {
  position: absolute;
  width: 9.357vw;
  height: 0.357vw;
  left: 2vw;
  top: 85.143vw;
  background: #FFFFFF;
  transform: rotate(-90deg);
}

.whl2 {
  position: absolute;
  width: 9.357vw;
  height: 1.429vw;
  left: 4vw;
  top: 84.5vw;
  background: #FFFFFF;
  transform: rotate(-90deg);
}

.whl3 {
  position: absolute;
  width: 9.357vw;
  height: 1.857vw;
  left: 7vw;
  top: 84.3vw;
  background: #FFFFFF;
  transform: rotate(-90deg);
}

.whl4 {
  position: absolute;
  width: 9.357vw;
  height: 3.071vw;
  left: 11vw;
  top: 83.7vw;
  background: #FFFFFF;
  transform: rotate(-90deg);
}

.whl5 {
  position: absolute;
  width: 9.357vw;
  height: 10.714vw;
  left: 19.5vw;
  top: 79.8vw;

  background: #FFFFFF;
  transform: rotate(-90deg);
}

.verline1 {
  position: absolute;
  width: 23.571vw;
  height: 0.714vw;
  left: 17.4vw;
  top: 73.214vw;
  background: #FFFFFF;
  transform: rotate(90deg);
}

.verline2 {
  position: absolute;
  width: 39.643vw;
  height: 0.7vw;
  left: 12.500vw;
  top: 81.286vw;
  background: #FFFFFF;
  transform: rotate(90deg);
}

.verline3 {
  position: absolute;
  width: 48.500vw;
  height: 0.357vw;
  left: 10.357vw;
  top: 85.357vw;
  background: #FFFFFF;
  transform: rotate(90deg);
}

.dline1 {
  position: absolute;
  width: 3.357vw;
  height: 1.357vw;
  left: 6.5vw;
  top: 93.929vw;
  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.dline2 {
  position: absolute;
  width: 3.357vw;
  height: 1.357vw;
  left: 11.5vw;
  top: 93.929vw;
  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.dline3 {
  position: absolute;
  width: 3.357vw;
  height: 1.357vw;
  left: 16.5vw;
  top: 93.929vw;
  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}


.dline4 {
  position: absolute;
  width: 3.357vw;
  height: 1.357vw;
  left: 21.5vw;
  top: 93.929vw;
  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.group65 {
  position: absolute;
  width: 1.491vw;
  height: 1.491vw;
  left: 27.786vw;
  top: 93.691vw;
  transform: rotate(-7.35deg);
}

.group32 {
  position: absolute;
  width: 7.214vw;
  height: 28.584vw;
  left: 89vw;
  top: 65.071vw;
}

.gde {
  position: absolute;
  width: 19vw;
  height: 2.857vw;
  left: 6.6vw;
  top: 104.500vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-style: normal;
  font-weight: 700;
  font-stretch: expanded;
  font-size: 5.714vw;
  line-height: 2.857vw;
  /* identical to box height, or 50% */

  display: flex;
  align-items: center;

  color: #F3A2BC;
}

.adresstext {
  position: absolute;
  width: 27.071vw;
  height: 7.286vw;
  left: 6.6vw;
  top: 113.143vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-style: normal;
  font-weight: 700;
  font-stretch: expanded;

  font-size: 2.857vw;
  line-height: 3.643vw;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.yellowcircle {
  position: absolute;
  border-radius: 50%;
  width: 8.357vw;
  height: 8.357vw;
  left: 38.357vw;
  top: 101.929vw;

  background: #FFEC51;
}

.ll1 {
  position: absolute;
  width: 3.357vw;
  height: 1.571vw;
  left: 72.214vw;
  top: 101vw;

  background: #FFFFFF;
}

.ll2 {
  position: absolute;
  width: 3.357vw;
  height: 1.571vw;
  left: 77.143vw;
  top: 101vw;

  background: #FFFFFF;
}

.ll3 {
  position: absolute;
  width: 3.357vw;
  height: 1.571vw;
  left: 82.071vw;
  top: 101vw;

  background: #FFFFFF;
}

.group130 {
  position: absolute;
  width: 39.989vw;
  height: 27.143vw;
  left: 62.857vw;
  top: 106.643vw;
}

.whitex2 {
  position: absolute;
  width: 2.251vw;
  height: 2.340vw;
  left: 95.571vw;
  top: 103.145vw;
}

.lll1 {
  position: absolute;
  width: 9.357vw;
  height: 0.857vw;
  left: 50.714vw;
  top: 103.929vw;

  background: #FFFFFF;
}

.lll2 {
  position: absolute;
  width: 9.357vw;
  height: 0.857vw;
  left: 50.714vw;
  top: 106.643vw;

  background: #FFFFFF;
}

.lll3 {
  position: absolute;
  width: 9.357vw;
  height: 0.857vw;
  left: 50.714vw;
  top: 109.357vw;

  background: #FFFFFF;
}

.lll4 {
  position: absolute;
  width: 9.357vw;
  height: 0.857vw;
  left: 50.714vw;
  top: 112vw;

  background: #FFFFFF;
}

.lll5 {
  position: absolute;
  width: 9.357vw;
  height: 0.857vw;
  left: 50.714vw;
  top: 114.714vw;

  background: #FFFFFF;
}

.lll6 {
  position: absolute;
  width: 9.357vw;
  height: 0.857vw;
  left: 50.714vw;
  top: 117vw;

  background: #FFFFFF;
}

.lll7 {
  position: absolute;
  width: 9.357vw;
  height: 0.857vw;
  left: 50.714vw;
  top: 119.286vw;

  background: #FFFFFF;
}

.lll8 {
  position: absolute;
  width: 9.357vw;
  height: 0.857vw;
  left: 50.714vw;
  top: 121.571vw;

  background: #FFFFFF;
}

.lll9 {
  position: absolute;
  width: 9.357vw;
  height: 0.857vw;
  left: 50.714vw;
  top: 123.857vw;

  background: #FFFFFF;
}

.lll10 {
  position: absolute;
  width: 9.357vw;
  height: 0.857vw;
  left: 50.714vw;
  top: 123.857vw;

  background: #FFFFFF;
}

.lll11 {
  position: absolute;
  width: 9.357vw;
  height: 0.857vw;
  left: 50.714vw;
  top: 126.143vw;

  background: #FFFFFF
}

.horline1 {
  position: absolute;
  width: 2.357vw;
  height: 7.786vw;
  left: 50.714vw;
  top: 128.929vw;

  background: #FFFFFF;
}

.horline2 {
  position: absolute;
  width: 2.357vw;
  height: 7.786vw;
  left: 54.214vw;
  top: 128.929vw;

  background: #FFFFFF;
}

.horline3 {
  position: absolute;
  width: 2.357vw;
  height: 7.786vw;
  left: 57.714vw;
  top: 128.929vw;

  background: #FFFFFF;
}

.verlinesimg {
  position: absolute;
  width: 2.929vw;
  height: 15.786vw;
  left: 62.286vw;
  top: 122.643vw;
}

.horlinesimg1 {
  position: absolute;
  width: 9.357vw;
  left: 50.714vw;
  top: 139.071vw;
}

.horlinesimg2 {
  position: absolute;
  width: 10.571vw;
  left: 67.500vw;
  top: 136.714vw;
}

.lineline11 {
  position: absolute;
  width: 34.786vw;
  height: 0.214vw;
  left: 68.071vw;
  top: 138.429vw;

  background: #FFFFFF;
}

.lineline12 {
  position: absolute;
  width: 59.429vw;
  height: 1.214vw;
  left: 43.429vw;
  top: 141.357vw;

  background: #FFFFFF;
}

.lineline13 {
  position: absolute;
  width: 50.714vw;
  height: 1.214vw;
  left: 43.429vw;
  top: 144.857vw;

  background: #FFFFFF;
}

.kogda {
  position: absolute;
  width: 30.214vw;
  height: 2.857vw;
  left: 63.929vw;
  top: 150.500vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 700;
  font-stretch: expanded;
  font-size: 5.714vw;
  line-height: 2.857vw;
  /* identical to box height, or 50% */

  display: flex;
  align-items: center;

  color: #21B8EB;
}

.datetext {
  position: absolute;
  width: 21.357vw;
  height: 7.286vw;
  left: 72.786vw;
  top: 157.786vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 700;
  font-stretch: expanded;
  font-size: 2.857vw;
  line-height: 3.643vw;
  display: flex;
  align-items: center;
  text-align: right;

  color: #FFFFFF;
}

.verlinesimg2 {
  position: absolute;
  width: 15vw;
  height: 15.786vw;
  left: 68vw;
  top: 155.4vw;
}

.whiteknitimg {
  position: absolute;
  width: 14.857vw;
  height: 13.857vw;
  left: 43.429vw;
  top: 149.500vw;
}

.pinkximg {
  position: absolute;
  width: 0.836vw;
  height: 0.869vw;
  left: 53.121vw;
  top: 148.179vw;

  transform: rotate(-7.35deg);
}

.colline1 {
  position: absolute;
  width: 3.934vw;
  height: 1.214vw;
  left: 0vw;
  top: 125.714vw;

  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.colline2 {
  position: absolute;
  width: 3.934vw;
  height: 1.214vw;
  left: 5.775vw;
  top: 125.714vw;

  background: #FFEC51;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.colline3 {
  position: absolute;
  width: 3.934vw;
  height: 1.214vw;
  left: 11.549vw;
  top: 125.714vw;

  background: #21B8EB;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.colline4 {
  position: absolute;
  width: 3.934vw;
  height: 1.214vw;
  left: 17.324vw;
  top: 125.714vw;

  background: #F3A2BC;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.colline5 {
  position: absolute;
  width: 3.934vw;
  height: 1.214vw;
  left: 23.099vw;
  top: 125.714vw;

  background: #FFCCD6;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.colline6 {
  position: absolute;
  width: 3.934vw;
  height: 1.214vw;
  left: 28.874vw;
  top: 125.714vw;

  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.colline7 {
  position: absolute;
  width: 3.934vw;
  height: 1.214vw;
  left: 34.649vw;
  top: 125.714vw;

  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.colline8 {
  position: absolute;
  width: 3.934vw;
  height: 1.214vw;
  left: 40.424vw;
  top: 125.714vw;

  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.wheelimg {
  position: absolute;
  width: 24.616vw;
  height: 2.642vw;
  left: 20.2vw;
  top: 129.429vw;
}

.vector36img {
  position: absolute;
  width: 30vw;
  height: 23vw;
  top: 123vw;
  left: -11.429vw;

}

.vector40img {
  position: absolute;
  width: 13vw;
  height: 13vw;
  left: 11vw;
  top: 131vw;
}

.yellowximg1 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  left: 36vw;
  top: 135.476vw;
}

.pinkcircle {
  position: absolute;
  border-radius: 50%;
  width: 9.357vw;
  height: 9.357vw;
  left: 20.929vw;
  top: 155.286vw;

  background: #FFCCD6;
}

.bluecircle {
  position: absolute;
  border-radius: 50%;
  width: 9.357vw;
  height: 9.357vw;
  left: 11.571vw;
  top: 146.071vw;

  background: #21B8EB;
}

.colhorline1 {
  position: absolute;
  width: 5vw;
  height: 0.857vw;
  left: 34.714vw;
  top: 141.357vw;

  background: #FFFFFF;
}

.colhorline2 {
  position: absolute;
  width: 5vw;
  height: 0.857vw;
  left: 34.714vw;
  top: 144.071vw;

  background: #FFFFFF;
}

.colhorline3 {
  position: absolute;
  width: 5vw;
  height: 0.857vw;
  left: 34.714vw;
  top: 146.786vw;

  background: #FFFFFF;
}

.colhorline4 {
  position: absolute;
  width: 5vw;
  height: 0.857vw;
  left: 34.714vw;
  top: 149.429vw;

  background: #FFEC51;
}

.colhorline5 {
  position: absolute;
  width: 5vw;
  height: 0.857vw;
  left: 34.714vw;
  top: 152.143vw;

  background: #FFFFFF;
}

.colhorline6 {
  position: absolute;
  width: 5vw;
  height: 0.857vw;
  left: 34.714vw;
  top: 154.429vw;

  background: #FFFFFF;
}

.colhorline7 {
  position: absolute;
  width: 5vw;
  height: 0.857vw;
  left: 34.714vw;
  top: 156.714vw;

  background: #F3A2BC;
}

.colhorline8 {
  position: absolute;
  width: 5vw;
  height: 0.857vw;
  left: 34.714vw;
  top: 159vw;

  background: #FFFFFF;
}

.colhorline9 {
  position: absolute;
  width: 5vw;
  height: 0.857vw;
  left: 34.714vw;
  top: 161.286vw;

  background: #21B8EB;
}

.colhorline10 {
  position: absolute;
  width: 5vw;
  height: 0.857vw;
  left: 34.714vw;
  top: 163.571vw;

  background: #FFFFFF;
}

.dilinesimg {
  position: absolute;
  width: 85.908vw;
  height: 7.071vw;
  left: 17.357vw;
  top: 168vw;
}

.threelinesimg1 {
  position: absolute;
  width: 8.643vw;
  height: 6.214vw;
  left: 0vw;
  top: 146.071vw;
}

.threelinesimg2 {
  position: absolute;
  width: 8.643vw;
  height: 6.214vw;
  left: 0vw;
  top: 178.071vw;
}

.colsquare1 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 11vw;
  top: 161vw;

  background: #FFFFFF;
}

.colsquare2 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 11vw;
  top: 163.5vw;

  background: #FFFFFF;
}

.colsquare3 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 11vw;
  top: 166vw;

  background: #FFFFFF;
}

.colsquare4 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 11vw;
  top: 168.5vw;

  background: #FFEC51;
}

.colsquare5 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 11vw;
  top: 171vw;

  background: #FFFFFF;
}

.colsquare6 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 11vw;
  top: 173.5vw;

  background: #FFFFFF;
}

.colsquare7 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 11vw;
  top: 176vw;

  background: #F3A2BC;
}

.colsquare8 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 11vw;
  top: 178.5vw;

  background: #FFFFFF;
}

.colsquare9 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 11vw;
  top: 181vw;

  background: #21B8EB;
}

.colsquare10 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 11vw;
  top: 183.5vw;

  background: #FFFFFF;
}

.collsquare1 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 14vw;
  top: 161vw;

  background: #FFFFFF;
}

.collsquare2 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 14vw;
  top: 163.5vw;

  background: #21B8EB;
}

.collsquare3 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 14vw;
  top: 166vw;

  background: #FFFFFF;
}

.collsquare4 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 14vw;
  top: 168.5vw;

  background: #F3A2BC;
}

.collsquare5 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 14vw;
  top: 171vw;

  background: #FFFFFF;
}

.collsquare6 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 14vw;
  top: 173.5vw;

  background: #FFFFFF;
}

.collsquare7 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 14vw;
  top: 176vw;

  background: #FFEC51;
}

.collsquare8 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 14vw;
  top: 178.5vw;

  background: #FFFFFF;
}

.collsquare9 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 14vw;
  top: 181vw;

  background: #FFFFFF;
}

.collsquare10 {
  position: absolute;
  width: 1.214vw;
  height: 0.924vw;
  left: 14vw;
  top: 183.5vw;

  background: #FFFFFF;
}

.horlin1 {
  position: absolute;
  width: 3.085vw;
  height: 5.929vw;
  left: 17.8vw;
  top: 178.5vw;

  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.horlin2 {
  position: absolute;
  width: 3.085vw;
  height: 5.929vw;
  left: 22.8vw;
  top: 178.5vw;

  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.horlin3 {
  position: absolute;
  width: 3.085vw;
  height: 5.929vw;
  left: 27.8vw;
  top: 178.5vw;

  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.horlin4 {
  position: absolute;
  width: 3.085vw;
  height: 5.929vw;
  left: 32.8vw;
  top: 178.5vw;

  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.horlin5 {
  position: absolute;
  width: 3.085vw;
  height: 5.929vw;
  left: 37.8vw;
  top: 178.5vw;

  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.horlin7 {
  position: absolute;
  width: 3.085vw;
  height: 5.929vw;
  left: 42.8vw;
  top: 178.5vw;

  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.horlin8 {
  position: absolute;
  width: 3.085vw;
  height: 5.929vw;
  left: 47.8vw;
  top: 178.5vw;

  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.horlin9 {
  position: absolute;
  width: 3.085vw;
  height: 5.929vw;
  left: 52.8vw;
  top: 178.5vw;

  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.lastfigimg {
  position: absolute;
  width: 14.857vw;
  height: 14.857vw;
  left: 59.5vw;
  top: 173vw;
}

.hrline1 {
  position: absolute;
  width: 5.929vw;
  height: 0.429vw;
  left: 75.357vw;
  top: 181.5vw;

  background: #FFFFFF;
  transform: rotate(-90deg);
}

.hrline2 {
  position: absolute;
  width: 5.929vw;
  height: 1.571vw;
  left: 77.857vw;
  top: 180.9vw;

  background: #FFFFFF;
  transform: rotate(-90deg);
}

.hrline3 {
  position: absolute;
  width: 5.929vw;
  height: 2.071vw;
  left: 80.714vw;
  top: 180.65vw;

  background: #FFFFFF;
  transform: rotate(-90deg);
}

.hrline4 {
  position: absolute;
  width: 5.929vw;
  height: 3.357vw;
  left: 85vw;
  top: 180vw;

  background: #FFFFFF;
  transform: rotate(-90deg);
}

.hrline5 {
  position: absolute;
  width: 5.929vw;
  height: 11.857vw;
  left: 94vw;
  top: 175.75vw;

  background: #FFFFFF;
  transform: rotate(-90deg)
}
